body {
    background-image: 
    url('/Users/raheemshah/Documents/Raheemshah.github.io/Images/background1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(31, 32, 27, 0.65); 
    background-blend-mode: multiply;
    background-attachment: fixed; 
}