body {
    background-image: url("https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.header1 {
color: white ;}

.subheader1 {
color:white ;
font-family: 'Roboto', sans-serif;}
        
.small{
            color: white;
}
.link{
color: white ;
text-align: center;}




a:hover {
    color: green;
}
 a:link {
color: red 
        }
a:visited {
color: blue;}

a:active {
    color: purple;
}