
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


body {
background-color: black; }

.header1 {
color: white ;
text-align: center}

.subheader1 {
color:white;
text-align: center
}

.small{
    color: white;
}


a {
    color: white;
   text-decoration: none;
   
}
.link {
    display: inline-block;
    padding: .5em;
}

.mainnav{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    border: 1px solid lightgrey;
}

a:hover{
    color: greenyellow; 
}

a:active {
    color: red;
}

.logo{
    width: 100px;
    margin: 0 auto;
    position: relative;
  }

  .email {
    width: 100%;
    transition: transform .5s;
  }

  .logo-text{
    color: darkorange;
    font-size: .9em;
    font-weight: bold;
    font-family: sans-serif;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    transition: opacity .5s;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .logo:hover .email {
    transform: translateY(-20px);
  }
  .logo:hover .logo-text{
    opacity: 1;
  }

  