@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}



body {
    background-color: black}
    .header1 {
    color: white ;}
    
    .subheader1 {
    color:white ;}
    .small{
        color: white;
    }
    .link{
    color: white ;
    text-align: center;
    }
    
    a {
        color: white;
       text-decoration: none;
       
    }
    .link {
        display: inline-block;
        padding: .5em;
    }
    
    .mainnav{
        text-align: center;
        font-size: 25px;
        font-weight: lighter;
        border: 1px solid lightgrey;
    }
    
    a:hover{
        color: greenyellow; 
    }
    
    a:active {
        color: red;
    }

    .Ps{
        color: white ;
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }

.pslist{
color: white ;
font-family: Roboto, Arial, Helvetica, sans-serif;

}

.introduction{
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}



.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
    left: 390px;
    bottom: 75px;

  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd;}
  
  .dropdown:hover .dropdown-content {display: block;}
  
  .dropdown:hover .dropbtn {background-color: #3e8e41;}