@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}



body {
    background-color: black}
    .header1 {
    color: white ;}
    
    .subheader1 {
    color:white ;}
    .small{
        color: white;
    }
    .link{
    display: inline-block;
    color: white ;
    text-align: center;
    }
    .link2{
        color: white ;
        text-align: center;
        }
    
    a {
        color: white;
       text-decoration: none;
       
    }
    .link {
        
        padding: .2em;
    }
    
    .mainnav{
        text-align: center;
        font-size: 25px;
        font-weight: lighter;
        border: 1px solid lightgrey;
    }
    
    a:hover{
        color: greenyellow; 
    }
    
    a:active {
        color: red;
    }

    .Ps{
        color: white ;
        font-family: Roboto, Arial, Helvetica, sans-serif;
    }

.pslist{
color: white ;
font-family: Roboto, Arial, Helvetica, sans-serif;

}

.introduction{
    color: white;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}



