
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: lighter;
}

html {

    background-image: url("https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(31, 32, 27, 0.65); 
    background-blend-mode: multiply;
    background-attachment: fixed; 
}

.header1 {
color: white ;
text-align: center}

.subheader1 {
color:white;
text-align: center
}

.small{
    color: white;
}


a {
    color: white;
   text-decoration: none;
   
}
.link {
    display: inline-block;
    padding: .5em;
}

.mainnav{
    text-align: center;
    font-size: 25px;
    font-weight: lighter;
    border: 1px solid lightgrey;
}

a:hover{
    color: greenyellow; 
}

a:active {
    color: red;
}


.about-me{
    color: white ;
}

.abme{
    color: white;
    text-align: center;
    font-size: 25px;
}

