
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');


*{
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}


body {
background-color: black}
.header1 {
color: white ;}

.subheader1 {
color:white ;}

.small{
    color: white;
}




