

body {
    background-image: url("https://images.pexels.com/photos/2004161/pexels-photo-2004161.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(31, 32, 27, 0.5); 
    background-blend-mode: multiply;
}
   .header1 {
   color: white ;
   text-align: center;}
   
   .subheader1 {
   color:white ;
   font-family: 'Roboto', sans-serif;}
           
   .small{
               color: white;
               
   }
   .link{
   color: white ; 
   text-align: left;}
   
   
   
   
   a:hover {
       color: green;
   }
    a:link {
   color: red 
           }
   
   
   a:active {
       color: rgb(9, 179, 170);
   }

   .Ps{
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
}

.pslist{
    color: white ;
    font-family: Arial, Helvetica, sans-serif;
    
    }
.Pslist2 {
    text-align: center;
}